@mixin flex($justify-content, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.header {
  @include flex(space-between);
  padding: 1rem;

  &__email {
    @include flex(space-between);
    flex-wrap: wrap;
    gap: 0.5rem;

    @media (max-width: 800px) {
      display: none;
    }
  }

  &__about {
    @include flex(space-around);
    max-width: 400px;
    width: 100%;
    padding-right: 60px;

    .icon {
      display: inline-block;
      cursor: pointer;

      &:hover {
        animation: rotate360 2s linear infinite;
      }
      @media (max-width: 800px) {
        display: none;
      }

      @keyframes rotate360 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }

    .menu {
      display: none;
    }

    @media (max-width: 800px) {
      .button {
        display: none;
      }

      .modal {
        display: block;
      }

      .menu {
        display: block;
      }

      @include flex(center, flex-end);
      max-width: 350px;
    }
  }
}
